body {
    background-color: #000000;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #fff;
}

.navbar {
    z-index: 9999;
}

button.developers_button {
    background: none;
    border: none;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #fff;
}

#tsparticles {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#tsparticles > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
}
#tsparticles div:nth-last-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead {
    text-align: center;
 }
 
 .lead > a {
   margin-bottom: 0.5em;
 }

.bg-dark {
    background: 0 0 !important;
}

.bg-dark.scrolled {
    background: #10061b !important;
}
